html,
body {
    width: 400px;
    height: 600px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

label {
    display: block;
    margin: 9px 0;
}

label span {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    width: 90px;
}

label select {
    width: 190px;
    vertical-align: middle;
    margin-left: 10px;
    height: 20px;
}

label input {
    vertical-align: middle;
}

#ankiConnectUrl {
    width: 190px;
    height: 20px;
    margin-left: 10px;
}

#saveAnkiBtn {
    display: block;
    width: 100px;
    margin: 0 auto;
}

#ankiHighLightColour {
    display: inline-block;
    width: 100px;
    margin: 0 auto;
}

#ankiHighLightSavedWords {
    display: inline-block;
    width: 100px;
    margin: 0 auto;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    overflow: hidden;
    max-height: calc(600px - 33px);
    display: none;
    /* hidden by default */
    /*padding: 6px 12px;*/
}

#Words {
    overflow-y: auto;
    flex: 1 1 auto;
}

#wordList {
    padding-left: 40px;
    margin: 5px;
    font-size: 14px;
    line-height: 1;
    height: calc(600px - 70px);
}

#wordList li {
    margin-bottom: 6px;
}

#wordList {
    list-style-type: decimal;
}